{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block title_block %}
      <title>Customer Home</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/home">R-Restaurant</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/store/history/">Purchase History</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/store">Order Now!</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home/logout">Log out</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/store/cart/">Cart<i class="fa fa-shopping-cart" style="width: 14px;height: 14px;font-size: 20px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body_block %}
    <header class="masthead" style="background: url(&quot;{% static 'assets/img/P1.jpg' %}&quot;);">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>Welcome To Our Restaurant!</span></div>
                <div class="intro-heading text-uppercase"><span>It's Nice To Meet You</span></div>
            </div>
        </div>
    </header>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Services</h2>
                    <h3 class="text-muted section-subheading">WHY CHOOSE US!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Great Taste</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-heart fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Healthy and Organic</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-bicycle fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Fast Delivery</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="background-image:url('{% static 'assets/img/map-image.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted" style="color: rgb(255,255,255);font-size: 35px;">Random Address</h3>
                    <p style="color: rgb(255,255,255);font-size: 28px;">Telephone Number: +987654321<br>Mobile Number: +123456789<br>Email Address: abcdef@ghij.com</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2020</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">PIZZa</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P2.jpg">
                                    <ul class="list-unstyled">
                                        <li>Beef Pizza</li>
                                        <li>Chicken Pizza</li>
                                        <li>Naga Pizza</li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">burger</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P3.jpg">
                                    <ul class="list-unstyled">
                                        <li>Beef Burger</li>
                                        <li>Chicken Burger</li>
                                        <li>Double Decker Burger</li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">pasta</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P4.jpg">
                                    <ul class="list-unstyled">
                                        <li>Beef Pasta</li>
                                        <li>chicken Pasta</li>
                                        <li>Naga Pasta</li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">set menu</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P5.jpg">
                                    <ul class="list-unstyled">
                                        <li>Set Menu - 1</li>
                                        <li>Set Menu - 2<br></li>
                                        <li>Set Menu - 3<br></li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Coffee</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P6.jpg">
                                    <ul class="list-unstyled">
                                        <li>cappuccino</li>
                                        <li>Latte</li>
                                        <li>Cold Coffee</li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Chocofun</h2><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/P7.jpg">
                                    <ul class="list-unstyled">
                                        <li>Chocofun-1</li>
                                        <li>Chocofun-2<br></li>
                                        <li>Chocofun-3<br></li>
                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button">Close</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/agency.js' %}"></script>
</body>

</html>
