<!DOCTYPE html>
{% extends "admin_login/home_admin.html" %}

  {% block title_block %}
    <title>Order Details</title>
  {% endblock %}

  {% block body_block %}
  <div class="jumbotron">
    {% if dict.type == "ON" %}
      <h6>Date and Time: {{ dict.date_time }}</h6>
      <h6>Order ID: {{ dict.order_id }}</h6>
      <h6>Customer Name: {{ dict.customer_name }}</h6>
      <h6>Delivery Address: {{ dict.address }}</h6>
    {% elif dict.type == "OFF" %}
      <h6>Date and Time: {{ dict.date_time }}</h6>
      <h6>Order ID: {{ dict.order_id }}</h6>
      <h6>Table No: {{ dict.table_no }}</h6>
      <h6>Manager: {{ dict.manager }}</h6>
      <h6>Waiter: {{ dict.waiter }}</h6>
    {% endif %}
      <table width="100%" border="0">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
        </tr>
        {% for item in dict.ordered_items %}
          <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit_price }}</td>
            <td>{{ item.total }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td><b>Total Bill</b></td>
          <td><b>{{ dict.total_bill }}</b></td>
        </tr>
      </table>


  </div>

  <style>
    td { text-align: center }
    th { text-align: center }
  </style>

  {% endblock %}
