<!DOCTYPE html>
{% extends "admin_login/home_admin.html" %}

    {% block title_block %}
    <title>Sales</title>
    {% endblock %}

    {% block body_block %}
    <div class="jumbotron">
      <div>
        <form method="post"> {% csrf_token %}
          <label for="from_date">From:</label>
          <input type="date" id="from_date" name="from_date" value="{{ from }}">

          <label for="to_date">To:</label>
          <input type="date" id="to_date" name="to_date" value="{{ to }}">

          <label for="type">Order type:</label>
          <select  id="type" name="type">
              <option selected value="{{ type }}">{{ type }}</option>
            {% if type != "All" %}
              <option value = "All">All</option>
            {% endif %}
            {% if type != "Home Delivery Orders" %}
              <option value = "Home Delivery Orders">Home Delivery Orders</option>
            {% endif %}
            {% if type != "Dine-In Orders" %}
              <option value = "Dine-In Orders">Dine-In Orders</option>
            {% endif %}
          </select>

          <button type="submit" class="btn btn-primary btn-sm">Filter</button>

        </form>
      </div>
      <br>
      <div>
        <table width="100%"  border="1">
          <tr style="background-color:lightgray">
            <th>Date and Time</th>
            <th>Table No or Customer ID</th>
            <th>Order ID</th>
            <th>Manager</th>
            <th>Waiter</th>
            <th>Total Bill</th>
            <th>View Details</th>
          </tr>
          {% for row in dict %}
          <tr>
            <td>{{row.time_stamp}}</td>
            <td>{{row.table}}</td>
            <td>{{row.order_id}}</td>
            <td>{{row.manager}}</td>
            <td>{{row.waiter}}</td>
            <td>{{row.total}}</td>
            <td>
              <form method="post">{% csrf_token %}
                <input type="hidden" name="view_order" value="{{ row.order_id }}">
                <button type="submit" class="btn btn-primary btn-sm">View</button>
              </form>
            </td>
          </tr>
         {% endfor %}
         <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td>Total Sale</td>
           <td>{{ total_sale }}</td>
        </tr>
        </table>
      </div>

      <style>
        td { text-align: center }
        th { text-align: center }
      </style>
    {% endblock %}
