<!DOCTYPE html>
{% extends "admin_login/home_admin.html" %}

    {% block title_block %}
    <title>Add Manager</title>
    {% endblock %}

    {% block body_block %}
    <div class="jumbotron">
      <h1>Enter Info to Add An Employee</h1>
      <form method="post"> {% csrf_token %}
        <div class="form-group">
          <div class="form-row col-md-4">
            <label for="inputname">Full Name</label>
            <input type="text" class="form-control" name="name" id="inputname" placeholder="Enter Full Name">
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-4">
            <label for="phonenum">Phone Number</label>
            <input type="text" class="form-control" name="phone" id="phonenum" placeholder="01xxxxxxxxx">
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-4">
            <label for="salary">Salary</label>
            <input type="text" class="form-control" name="salary" id="salary" placeholder="Salary in Taka">
          </div>
        </div>
        <div class="form-group">
          <div class="form-row col-md-3 mb-3">
            <label for="job_t">Job Type</label>
            <select class="custom-select" id="job_t" name="job_t">
              <option selected disabled value="">Choose...</option>
              {% for row in dict %}
              <option value = "{{ row.id }}">{{ row.type }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <br>
        <div class="form-row">
          <button type="submit" class="btn btn-primary">Add Employee</button>
        </div>
      </form>
    </div>

    {% endblock %}
