<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="login-clean" align = "center">
        <form method="post">
            {% csrf_token %}
            <h3 color = "red">{{ status }}</h3>
            <h2 class="sr-only">Login Form</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group" style="text-align: center;"><button class="btn btn-primary btn-block" type="submit" style="background: rgb(254,209,54);">Log In</button>
        </form>
    </div>

  </body>
</html>
