<!DOCTYPE html>
{% extends "customer_login/home_login.html" %}
{% load static %}

  {% block title_block %}
    <title>Purchase History</title>
  {% endblock %}

  {% block body_block %}
  {% for row1 in dict1 %}
     <div class="row  st">
		<div class="col-lg-10">
			<div class="box-element">
				<hr>
				<h3>Order ID:{{row1.order_id}}</h3>
        <h5>Status:{{row1.status}}</h5>
        <h6>Date:{{row1.date}}</h6>
				<hr>
        {% for row in dict %}
        {% if row1.order_id == row.order_id %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static row.pic %}"></div>
					<div style="flex:2"><p>{{row.name}}</p></div>
					<div style="flex:1"><p>{{row.price}}</p></div>
					<div style="flex:1"><p>x{{row.quantity}}</p></div>
				</div>
        {% endif %}
        {% endfor %}
				<h5>Total:   {{row1.bill}}</h5>
			</div>
		</div>
	</div>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  {% endfor %}
{% endblock %}
